<%- include('plantilla/header.ejs') %>

      <div class="container mt-4">
        <div class="card border-secundary">
            <div class="card-header">Nueva Categoria</div>
            <div class="card-body">
                <form action="/categoria/save" id="formulario" method="POST" >
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoria</label>
                        <input type="text" class="form-control" id="categoria" name="categoria">
                    </div>
                    <div class="mb-3">
                        <label for="abreviatura" class="form-label">Abreviatura</label>
                        <input type="text" class="form-control" id="abreviatura" name="abreviatura">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/categoria" class="btn btn-secundary">Cancelar</a>
                </form>

            </div>
        </div>
      </div>

    <script>
        const form = document.getElementById('formulario');
        form.onsubmit = async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
            });
            const result = await response.json();
    
            if (result.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: result.error,
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: result.success,
                });
                // Limpiar los campos
                //document.getElementById('producto').value = '';
                //document.getElementById('obs').value = '';
            }
        };
    
    </script>

<%- include('plantilla/footer.ejs') %>


